*{
   margin: 0;
   padding: 0;
   font-family: "pt_sansregular";
}
header.top{
   background: url("images/overlay.png"),url("images/banner.jpg");
   background-size: cover;
   width: 100%;
   height: 100vh;
   margin: 0;
   padding: 0;
}
header h1{
   position: relative;
   font-size: 18px;
   margin-left: 30px;
   top: 50px;
   color: white;
   font-weight: 100;
   text-transform: uppercase;
   font-family: 'Raleway', sans-serif;
}
header strong{
   font-weight: 700;
}
header a{
   text-decoration: none;
   color: white;
   font-weight: 100;
}
header ul{
   list-style: none;
   position: relative;
   float: right;
   right: 20px;
   top: 0;
}
header ul li{
   display: block;
   padding: 30px;
   float: left;
}
header ul li a{
    font-size: 18px;
    font-family: "pt_sansregular";
    font-weight: 100;
    text-transform:uppercase;
    color: #d8d8d8;
    transition: .2s;
}
header ul li a:hover{
    color: white;
}
header #banner{
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
}
#banner h2{
    font-size: 40px;
    color: aliceblue;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 20px;
	
	
}
#banner p{
    color: #aaa;
    font-size: 22px;
    margin-bottom: 40px;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 100;
    letter-spacing: 2px;
}
#banner a{
    padding:25px 35px;
    background-color: #f32853;
    text-transform: uppercase;
    font-size: 20px;
    border-radius:5px;
}
#part2{
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
}
.inclusive{
    width: 1000px;
    padding: 0 auto;
}
#part2 .inclusive .left{
    width: 40px;
    float: left;
    padding-left: 70px;
}
#part2 .left h2{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #484848;
    line-height: 60px;
}
#part2 .left p{
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 100;
    color: #aaa;
    line-height: 40px;
}
#part2 .right{
    width: 400px;
    float: right;
    padding-right: 50px;
    margin-left: 40px;
}
#part2 .right p{
    line-height: 30px;
    color: #666;
    margin-bottom: 20px;
}
.clear{
    clear: both;
}
#part3{
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    background: #f6f6f6;
    text-align: center;
}
#part3 h2{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #484848;
}
#part3 p{
    margin: 40px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #111;
}
#part3 .picture{
    width: 500px;
    float: left;
    background: #fff;
    margin: 50px 20px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px #ccc;
}
#part3 img{
    width: 500px;
    margin: 0;
}
#part3 .inclusive2{
    width: 1100px;
    margin: 0 auto;
}
#part3 ul{
    list-style: none;
}
#part3 ul li{
    display: inline-block;
}
#part3 ul li a{
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 20px 50px;
    background: #f32853;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#part3 ul li:nth-child(2) a{
    background: #323837;
}
#part4 .inclusive3{
	width: 1000px;
    padding: 0 auto;
	margin:0 auto;
}
#part4{
	width: 100%;
	padding-top: 50px;
}
#part4 h2{
	margin-left: 50px;
	font-size: 30px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	color: #484848;
	margin-bottom: 30px;
    text-align: center;
}
#part4 h2+p{
	font-size: 18px;
	color: #666;
	margin-left: 50px;
	margin-bottom: 50px;
    text-align: center;
}
#part4 .sections{
	width: 460px;
	float: left;
	margin-bottom: 50px;
	margin-right: 20px;
}
#part4 .sections .littlepicture{
	float: right;
	width: 130px;
	margin: 10px;
}
#part4 .sections .littlepicture img{
	border: 5px solid #b0b0b0;
	border-radius: 100%;
	width: 130px;
}
#part4 .sectionwriting{
	float: left;
	width: 290px;
	text-align: right;
	padding: 10px;
	line-height: 25px;
}
#part4 .sections h3{
	text-align: right;
	font-size: 18px;
	color: #484848;
	margin-bottom: 10px;
}
#part4 .sections .writing h3+p{
	font-size: 14px;
	color:#aaa;
	margin-bottom: 20px,
}
#part4 .sections:nth-child(2n) .writing{
    text-align: left;
}
#part4 .sections:nth-child(2n) .writing h3{
	text-align: left;
}
#part4 .sections:nth-child(2n) .littlepicture{
	float: left;
}
#part4 .sections .writing p:nth-child(3){
	color: #666;
	font-size: 18px;
}
#part5{
	width: 100%;
	height: 350px; background:url("images/overlay.png"),url("images/banner.jpg");
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}
#part5 .contents{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}
#part5 .contents h2{
	color:#fff;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 15px;
}
#part5 .contents p{
	color: #aaa;
	font-size: 18px;
	margin-bottom: 50px;
}
#part5 .contents a{
	font-size: 20px;
	font-weight: 700;
	display: inline-block;
	padding: 20px 35px;
	background: #f32853;
	text-decoration: none;
	color: #fff;
	transition: 0.2s;
}
#part5 .contents a:hover{
	background: #eb0231;
}
footer{
	width: 100%;
	height: 350px;
	text-align: center;
}
footer .social{
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%)
}
footer a{
	position: relative;
	display: inline-block;
	top:50%;
	transform: translateY(-50%);
	margin-left: 30px;
	margin-bottom: 30px;
}
footer a[title="facebook"]::before{
	content: "";
	background:url("icons/facebook.png") no-repeat;
	width: 45px;
	height: 42px;
	display: inline-block;
	
}
footer a[title="twitter"]::before{
	content: "";
	background:url("icons/twitter.png") no-repeat;
	width: 45px;
	height: 42px;
	display: inline-block;
}
footer a[title="linkedin"]::before{
	content: "";
	background:url("icons/linkedin.png") no-repeat;
	width: 45px;
	height: 42px;
	display: inline-block;
}
footer ul{
	list-style: none;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
footer ul li{
	display: inline-block;
	padding: 2px 25px;
}
footer ul li p{
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	color:darkgray;
}
footer ul li:nth-child(-n+2){
	border-right: 2px solid #b4b1b1;
}